<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="lab la-accusoft"></span> <span>Dreamception</span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/"><span class="las la-home"></span> <span>Accueil</span></a>
            </li>
            <li>
                <a href="/admin/index" class="active"><span class="las las la-chalkboard"></span>
                    <span>Tableau de bord</span></a>
            </li>
            <li>
                <a href="/admin/indexCategory"><span class="las las la-archive"></span> <span>Categories</span></a>
            </li>
            <li>
                <a href="/admin/indexProduct"><span class="las las la-space-shuttle"></span> <span>Produits</span></a>
            </li>
            <li>
                <a href="/admin/indexMovies"><span class="las las la-film"></span> <span>Films</span></a>
            </li>
            <li>
                <a href="/admin/indexUsers"><span class="las las la-user"></span> <span>Utilisateur</span></a>
            </li>
            <li>
                <a href="/admin/indexOrders"><span class="las la-folder-plus"></span>
                    <span> Commandes </span></a>
            </li>
            <li>
                <a href="/admin/indexMovieReservation"><span class="las la-calendar"></span>
                    <span> Reservation </span></a>
            </li>
            <li>
                <a href="/contact/index"><span class="las las la-question-circle"></span>
                    <span>Questions Visiteurs</span></a>
            </li>
            <li>
                <a href="/security/logout"><span class="las las la-power-off"></span>
                    <span>Déconnexion</span></a>
            </li>
        </ul>
    </div>
</div>