{% extends 'adminlayout.html.twig' %}
{% block content %}
    {% include "Admin/adminheader.html.twig" %}
    <main>
        <div class="time"><span class="defile"> {{ "now"|date("H:i:s d/m/Y") }}</span></div>
        <div class="title">

            <h2>Ajouter un nouveau film</h2>
        </div>
        <div>
            {% include 'Admin/Movie/_form.html.twig' %}
        </div>

    </main>

{% endblock %}
