<footer class="text-center text-lg-start text-footer" style="background-color: rgba(10, 10, 10, 0.932);">
	<div class="separation"><hr></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 mb-0 mb-md-0">
				<p>
					Paramètres des cookies  |  Centre de traitement des données personnelles  |  Confidentialité  |  Conditions d'utilisations
				</p>
				<p>
					{{ post.published_at|date('Y-m-d H:i:s') }}
				</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-0 mb-md-0">
				<h5 class="text-uppercase">Suivez-nous</h5>

				<div class="row justify-content-around custom-line">
					<div class="col-4">
						<a href="https://twitter.com/OlivierMaffre" target="_blank" class="text-dark">
							<img src="https://zupimages.net/up/21/11/i8n3.png" alt="logo twitter" id="footer_img"/></a>
					</div>
					<div class="col-4">
						<a href="https://www.instagram.com/farnyy/?hl=fr" target="_blank" class="text-dark">
							<img src="https://zupimages.net/up/21/11/twlf.png" alt="logo instagram" id="footer_img"/></a>
					</div>
					<div class="col-4">
						<a href="https://www.facebook.com/" target="_blank" class="text-dark">
							<img src="https://zupimages.net/up/21/11/gl3g.png" alt="logo facebook" id="footer_img"/></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-0 mb-md-0">
				<h5 class="text-uppercase mb-0">Nous trouver</h5>
				<iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2872.0853381515317!2d0.37091231528853363!3d43.95759997911209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aa3ca0d1af1a2b%3A0x8fe5c4ff37bf316d!2sPlace%20Saint-Pierre%2C%2032100%20Condom!5e0!3m2!1sfr!2sfr!4v1619616743052!5m2!1sfr!2sfr" width="150" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</div>
</footer>

