<form method="post" class="container">
<div class="form-box">

    <input type="hidden" value="{{ category.id }}" name="id">
    <div class="input-box">
        <input type="text" class="form-control" id="floatingInput" placeholder="" value="{{ category.name }}" name="name">
        <label for="floatingInput" class="form-label">Nom</label>
    </div>
    <div class="errors">
        {% for error in errors %}
            <div> {{ error }} </div>
        {% endfor %}
    </div>
    <div class="container-fluid">
        <input type="submit" class="form-button" value="Valider">
        <a type="back" href="/admin/indexCategory" class="return-button" value="Retour"><i class="las la-undo"></i></a>
    </div>

</div>
</form>